body {
  font-family: 'Vidaloka', serif;
}

.site-container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
}
nav {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

nav > a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

.home-box {
  padding: 10px 0;
  width: 350px;
  max-width: 100%;
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: blue;
}

.home-box > .names {
  font-size: 30px;
  margin: 0 0 10px 0;
}

.home-box > .date {
  font-size: 20px;
}